@using System.Data
@*@model DataTable*@
@model IEnumerable<GymModels.FitnessInstructor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstrId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrDoB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrDoB)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.InstrId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.InstrId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.InstrId })
            </td>
        </tr>
}
    </tbody>
</table>
